
{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Редактирование профиля{% endblock %}
{% block headers %}
{{ form.media }}
{% endblock %}
{% block content %}
<h1 class="m-t-0">Настройки</h1>
<hr/>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Редактирование профиля</h3><br/>{% if messages %}
        {% for message in messages %}
        {% if message.extra_tags == 'info' %}
        <div class="alert alert-dismissible {% if message.tags == 'info success' %}alert-success{% else %}alert-warning{% endif %}">
          <button href="#" data-dismiss="alert" aria-label="close" class="close">&times;</button>{{ message }}
        </div>{% endif %}
        {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'user_update' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" name="saveinfo" class="btn btn-primary">Сохранить</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Приватность</h3>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Сменить пароль</h3><br/>{% if messages %}
        {% for message in messages %}
        {% if message.extra_tags == 'changepass' %}
        <div class="alert alert-dismissible {% if message.tags == 'changepass success' %}alert-success{% else %}alert-warning{% endif %}">
          <button href="#" data-dismiss="alert" aria-label="close" class="close">&times;</button>{{ message }}
        </div>{% endif %}
        {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'changepass' %}" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form passform %}<br/>
          <button type="submit" name="changepass" class="btn btn-warning">Изменить пароль</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>/**
 * Created by vitaliyharchenko on 31.07.15.
 */
var avatar_url = "{{ avatar_url }}";
$(document).ready(function() {
    $('#jasny-url').attr('value', avatar_url);
});
</script>{% endblock %}