|{% load staticfiles %}
doctype html
html(lang="en")
  head
    script(src="{% static 'js/main.js' %}")
  body
    p
      a(href="{% url 'index' %}") На главную
    p
      a(href="/admin" target="blank") Админка
    ul
      li
        a(href="{% url 'courts:list' %}") Площадки
      li
        a(href="{% url 'users' %}") Игроки
      li
        a(href="{% url 'teams' %}") Команды
      li
        a(href="{% url 'events:list' %}") События
    hr
    |{% block content %}
    |{% endblock %}