| {% extends 'base.html' %}
| {% block content %}

h1 Площадки
hr

|{% for court in courts %}
p
  a(href="/courts/{{ court.id }}") {{ court.title }}
p {{ court.description }}
hr
|{% endfor %}

|{% endblock %}