| {% extends 'base.html' %}
| {% load eventutils %}

| {% block content %}

h1 События
hr
.row
  |{% for event in events %}
  .col-md-9
    |{% event_pane event=event %}
  |{% endfor %}
script
  include ../js/templates/events.js

|{% endblock %}