| {% extends 'base.html' %}

|{% block title %}Добро пожаловать! {% endblock %}

| {% block content %}
p Login form
| {% if messages %}
|{% for message in messages %}
.alert(class="alert-{{ message.tags }}") {{ message }}
|{% endfor %}
|{% endif %}
form(method="post")
  |{% csrf_token %}
  |{{ form.as_div }}
  button(type="submit") Войти

|{% endblock %}