| {% extends 'base.html' %}

|{% block title %}Команда "{{team}}"{% endblock %}

| {% block content %}
h1 {{ team }}

h3 Участники
| {% for userteam in userteams %}
p {{ userteam }}
| {% endfor %}

| {% endblock %}