| {% extends 'base.html' %}

|{% block title %}Команды{% endblock %}

| {% block content %}
h1 Команды
hr
| {% for team in teams %}
p
  a(href="{{ team.get_absolute_url }}") {{ team }}
hr
| {% endfor %}
| {% endblock %}

