.profile-avatar {
  max-width: 300px;
}

.stats-heading {
  padding: 6px 15px 6px 15px;
  background: none;
  text-align: center;
}

.stats-body {
  padding: 10px 0 0 10px;
}

.profile-avatar {
  max-width: 100%;
}