| {% load thumbnail %}
| {% load static %}
| {% thumbnail avatar_field size crop="center" as avatar %}
img.m-w-100(src="{{ avatar.url }}" class="{% if circle %}img-circle{% endif %}{% if thumbnail == 'True' %}img-thumbnail{% endif %}" width="{{ avatar.width }}" height="{{ avatar.height }}")
| {% empty %}
| {% if sex == 'f' %}
img.m-w-100(src="{% static 'images/blank_female.jpg' %}" class="{% if circle %}img-circle{% endif %}{% if thumbnail == 'True' %}img-thumbnail{% endif %}" width="{{ side_size }}")
| {% else %}
img.m-w-100(src="{% static 'images/blank_male.jpg' %}" class="{% if circle %}img-circle{% endif %}{% if thumbnail == 'True' %}img-thumbnail{% endif %}" width="{{ side_size }}")
| {% endif %}
| {% endthumbnail %}