|{% load eventutils %}

//#TODO: add popup window for login or registration
div(id="{{ event.id }}-pane")
  .panel.panel-default
    .panel-heading
      .row
        .col-xs-10
          |{% if standalone %}
          |# {{ event.id }} | {{ event.title }}
          |{% else %}
          a(href="{% url 'events:detail' event.id %}") # {{ event.id }} | {{ event.title }}
          |{% endif %}
        .col-xs-2.text-right
          |{% if current_user.is_staff %}
          .btn-group.btn-group-compact
            button.close.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              span.glyphicon.glyphicon-option-vertical
            ul.dropdown-menu.pull-right
              li
                a(href="/admin/events/game/{{ event.pk }}/" target="_blank") Редактировать
              li
                a(href="#") Печатать списки
          |{% endif %}
    .panel-body.p-b-5
      |{% if event.type == 'game' %}
      .row
        .col-md-2
          p {{ event.datetime }}
        .col-md-7
          p {{ event.gametype }}
          p
            a(href="{% url 'courts:detail' event.court.id %}" target="_blank") {{ event.court }}
          |{% if event.coach %}
          p Тренер: {{ event.coach }}
          |{% endif %}
          p Ответственный: {{ event.responsible_user }}

          |{% if event.capacity > 0 %}
          .progress
            |{% if event.is_reported %}
            .progress-bar.progress-bar-info(role="progressbar" style="width: {% widthratio event.visited|length event.capacity 100 %}%;")
              span {{ event.visited|length }} / {{ event.capacity }}
            |{% else %}
            |{% if event.has_place %}
            .progress-bar.progress-bar-default.progress-bar-striped.active(role="progressbar" style="width: {% widthratio event.subscribed|length event.capacity 100 %}%; min-width: 1em;")
              span {{ event.subscribed|length }} / {{ event.capacity }}
            |{% else %}
            .progress-bar.progress-bar-success(role="progressbar" style="width: {% widthratio event.subscribed|length event.capacity 100 %}%; min-width: 1em;")
              span {{ event.subscribed|length }} / {{ event.capacity }}
            |{% endif %}
            |{% endif %}
          |{% else %}
          p
            span.glyphicon.glyphicon-user
            |&nbsp; {{ event.subscribed|length }}
          |{% endif %}

          |{% if event.is_reported %}
          .panel-group#accordion.m-b-5(role="tablist" aria-multiselectable="true")
            .panel.panel-default
              .panel-heading(role="tab" id="heading-{{ event.pk }}")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ event.pk }}-visited" aria-expanded="true" aria-controls="collapse-{{ event.pk }}")
                    |Посетили игру
                    span.caret
              .panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ event.pk }}-visited")
                .panel-body.p-b-5
                  |{% for user in event.visited %}
                  p
                    a(href="{{ user.get_absolute_url }}" target="_blank") {{ forloop.counter }}. {{ user }}
                  |{% endfor %}
            |{% if current_user.is_staff %}
            |{% if event.notvisited|length > 0 %}
            .panel.panel-default
              .panel-heading(role="tab" id="heading-{{ event.pk }}")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ event.pk }}-notvisited" aria-expanded="true" aria-controls="collapse-{{ event.pk }}")
                    |Не пришли
                    span.caret
              .panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ event.pk }}-notvisited")
                .panel-body
                  |{% for user in event.notvisited %}
                  p
                    a(href="{{ user.get_absolute_url }}" target="_blank") {{ forloop.counter }}. {{ user }}
                  |{% endfor %}
            |{% endif %}
            |{% if event.notpay|length > 0 %}
            .panel.panel-default
              .panel-heading(role="tab" id="heading-{{ event.pk }}")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ event.pk }}-notpay" aria-expanded="true" aria-controls="collapse-{{ event.pk }}")
                    |Не заплатили
                    span.caret
              .panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ event.pk }}-notpay")
                .panel-body
                  |{% for user in event.notpay %}
                  p
                    a(href="{{ user.get_absolute_url }}" target="_blank") {{ forloop.counter }}. {{ user }}
                  |{% endfor %}
            |{% endif %}
            |{% endif %}
          |{% else %}
          .panel-group#accordion.m-b-5(role="tablist" aria-multiselectable="true")
            |{% if event.subscribed|length > 0 %}
            .panel.panel-default
              .panel-heading(role="tab" id="heading-{{ event.pk }}")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ event.pk }}" aria-expanded="true" aria-controls="collapse-{{ event.pk }}")
                    |Список участников
                    span.caret
              .panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ event.pk }}")
                .panel-body.p-b-5
                  |{% for user in event.subscribed %}
                  p
                    a(href="{{ user.get_absolute_url }}" target="_blank") {{ forloop.counter }}. {{ user }}
                  |{% endfor %}
            |{% endif %}
            |{% if current_user.is_staff %}
            |{% if event.reserved|length > 0 %}
            .panel.panel-default
              .panel-heading(role="tab" id="heading-{{ event.pk }}")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ event.pk }}-reserved" aria-expanded="true" aria-controls="collapse-{{ event.pk }}")
                    |В резерве
                    span.caret
              .panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ event.pk }}-reserved")
                .panel-body.p-b-5
                  |{% for user in event.reserved %}
                  p
                    a(href="{{ user.get_absolute_url }}" target="_blank") {{ forloop.counter }}. {{ user }}
                  |{% endfor %}
            |{% endif %}
            |{% if event.unsubscribed|length > 0 %}
            .panel.panel-default
              .panel-heading(role="tab" id="heading-{{ event.pk }}")
                h4.panel-title
                  a(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ event.pk }}-unsubscribed" aria-expanded="true" aria-controls="collapse-{{ event.pk }}")
                    |Отписались
                    span.caret
              .panel-collapse.collapse(role="tabpanel" aria-labelledby="headingOne" id="collapse-{{ event.pk }}-unsubscribed")
                .panel-body.p-b-5
                  |{% for user in event.unsubscribed %}
                  p
                    a(href="{{ user.get_absolute_url }}" target="_blank") {{ forloop.counter }}. {{ user }}
                  |{% endfor %}
            |{% endif %}
            |{% endif %}
          |{% endif %}
        .col-md-3.text-right
          |{% if current_user %}
          |{% usergameaction current_user event as action %}
          |{% endif %}
          .btn-group
            //Если игра будет
            | {% if event.time_status == 'WILL BE' %}
            //Если записан
            | {% if action == 1 %}
            button.btn.btn-success.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              |Вы записаны
              |&nbsp;
              span.caret
            ul.dropdown-menu
              li
                a.action(id="{{ event.id }}-unsubscribe") Отписаться
            //Если в резерве
            | {% elif action == 3 %}
            button.btn.btn-warning.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              |Вы в резерве
              |&nbsp;
              span.caret
            ul.dropdown-menu
              li
                a.action(id="{{ event.id }}-unreserve") Выйти из резерва
              |{% if event.has_place %}
              li
                a.action(id="{{ event.id }}-subscribe") Перейти в основу
              |{% endif %}
            //Если не записан и не в резерве, проверяем наличие мест
            | {% else %}
            //Если есть места
            | {% if event.has_place %}
            button.btn.btn-primary.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
              |Идет набор
              |&nbsp;
              span.caret
            ul.dropdown-menu
              | {% if current_user %}
              li
                a.action(id="{{ event.id }}-subscribe") Записаться
              | {% else %}
              li
                a(href="#" data-toggle="modal" data-target="#loginModal") Записаться
              | {% endif %}
            //Если нет мест
            | {% else %}
            button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Мест нет
            ul.dropdown-menu
              | {% if current_user %}
              | {% if event.has_reserved_place %}
              li
                a.action(id="{{ event.id }}-reserve") Записаться в резерв
              | {% else %}
              //pass
              | {% endif %}
              | {% else %}
              | {% if event.has_reserved_place %}
              li
                a(href="#" data-toggle="modal" data-target="#loginModal") Записаться в резерв
              | {% else %}
              li
                a(href="#" data-toggle="modal" data-target="#loginModal") Мест нет
              | {% endif %}
              | {% endif %}
            | {% endif %}
            //Конец проверки - Если есть места
            | {% endif %}
            //Конец проверки - Если игра будет

            //Начало проверки - Если игра близко
            | {% elif event.time_status == 'COMING' %}

            |{% if action == 1 %}
            button.btn.btn-success.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Вы записаны
            ul.dropdown-menu
              li
                //TODO: popup with phone
                a Отписаться - попап с телефоном ответственного
            //Если в резерве
            | {% elif action == 3 %}
            button.btn.btn-warning.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Вы в резерве
            ul.dropdown-menu
              li
                a.action(id="{{ event.id }}-unreserve") Выйти из резерва
              | {% if event.has_place %}
              li
                a.action(id="{{ event.id }}-subscribe") Перейти в основу
              | {% endif %}
            //Если не записан и не в резерве, проверяем наличие мест
            | {% else %}
            //Если есть места
            | {% if event.has_place %}
            button.btn.btn-primary.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Идет набор
            ul.dropdown-menu
              | {% if current_user %}
              li
                a.action(id="{{ event.id }}-subscribe") Записаться
              | {% else %}
              li
                a(href="#" data-toggle="modal" data-target="#loginModal") Записаться
              | {% endif %}
            //Если нет мест
            | {% else %}
            button.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Мест нет
            | {% endif %}
            //Конец проверки - Если есть места
            | {% endif %}
            //Конец проверки - Если игра близко

            |{% elif event.time_status == 'IT GOES' %}
            button.btn.btn-info.btn-sm Игра идет

            |{% elif event.time_status == 'WAS' %}
            | {% if action == 5 %}
            button.btn.btn-success.btn-sm Вы играли тут
            | {% elif action == 6 %}
            button.btn.btn-danger.btn-sm Вы прогуляли
            | {% elif action == 7 %}
            button.btn.btn-danger.btn-sm Вы не заплатили
            | {% else %}
            button.btn.btn-default.btn-sm Игра прошла
            | {% endif %}
            |{% endif %}
          br
          br
          p.lead.m-b-10 {{ event.cost }} RUB
          p {{ event.duration }}

      //IF MODEL IS ELSE
      |{% else %}
      p {{ event }}
      p {{ event.datetime }}
      p EVENTZZ
      hr
      |{% endif %}